.container-fluid {
  background-color: #ff5e5e;
}

.container-sm {
  margin-top: 50px;
  height: 650px;
  background-color: rgb(255, 255, 255);
}

a {
  color: #ff5e5e;
}

hr {
  height: 1px;
  background-color: #ff5e5e;
}

.breadcrumb-item.active {
  position: relative;
  font-weight: bold;
}

.breadcrumb-item.active::after {
  content: "";
  position: absolute;
  bottom: 10px; /* Position the triangle below the text */
  padding-bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff5e5e;
}
